/* Variables y Reset */
:root {
    --navy: #0f172a;
    --celeste: #0ea5e9;
    --violeta: #8b5cf6;
    --celeste-soft: #f0f9ff;
    --blanco: #ffffff;
    --fondo-pag: #f8fafc;
    --botones: #c6dee2;
    --oferta: #ff7e7e;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, sans-serif;
}

body {
    background-color: var(--fondo-pag);
    color: var(--navy);
    padding-bottom: 90px;
}


/*----------------------------*/
/* --- COMPONENTES DE CATALOGO--- */
/*-----------------------------*/
