/* --- Identidad --- */
.logo { display: flex; align-items: center; gap: 8px; }
.logo h1 { font-size: 1.2rem; font-weight: 800; }
.logo span { color: var(--celeste); }
.img-logo { height: 40px; width: auto; display: block; }

/* --- Menú Hamburguesa --- */
.oculto { display: none; }
.boton-hamburguesa { font-size: 1.7rem; cursor: pointer; z-index: 1300; position: relative; }

.lista_navegacion { list-style: none; }
.lista_navegacion li { border-bottom: 1px solid #f8fafc; }
.lista_navegacion a {
    text-decoration: none;
    color: var(--navy);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* --- Buscador y Categorías --- */
.entrada-busqueda {
    width: 100%;
    padding: 14px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--blanco);
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 25px;
    outline: none;
}

.categorias-cortas { display: flex; gap: 12px; }
.filtro {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--celeste-soft);
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--navy);
    text-align: center;
}

/* --- TARJETAS DE PRODUCTO: Alineación */
.tarjeta {
    background: var(--blanco);
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.03);
    position: relative;
    border: 1px solid #f1f5f9;
    
    /* para  que la tarjeta respete el tamaño de la columna */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foto-producto img {
    width: 100%;
    height: 160px; /* Altura fija para todas */
    object-fit: cover;
    border-radius: 15px;
}

.corazon {
    position: absolute;
    top: 18px;
    right: 18px;
    background: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #ef4444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalles h3 { font-size: 0.85rem; margin-top: 10px; font-weight: 600; color: var(--navy); }
.precio { color: var(--celeste); font-weight: 800; display: block; margin: 5px 0 10px; }

.enlace-ver {
    display: block;
    text-align: center;
    background: var(--celeste);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: auto; /* Empuja el botón al fondo si hay poco texto */
}

/* --- Barra Inferior --- */
.icono-nav { text-decoration: none; display: flex; flex-direction: column; align-items: center; gap: 4px; }
.icono-nav i { font-style: normal; font-size: 1.4rem; filter: sepia(100%) hue-rotate(170deg) saturate(500%); }
.icono-nav span { font-size: 0.7rem; font-weight: 700; color: var(--navy); }
.icono-nav.activo i { filter: sepia(100%) hue-rotate(185deg) saturate(800%); }
.icono-nav.activo span { color: var(--celeste); }