/*--------------------------------------*/
/* --- LAYOUT DE INDEX PAGE DE INICIO----*/
/*---------------------------------------*/


.barra_superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: var(--blanco);
    position: sticky;
    top: 0;
    z-index: 1200;
    height: 70px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.menu-desplegable {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background-color: var(--blanco);
    z-index: 1100;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 80px;
    box-shadow: 15px 0 50px rgba(0,0,0,0.1);
}

#checkMenu:checked ~ .menu-desplegable {
    left: 0;
}

.contenedor1 {
    padding: 20px;
    padding-bottom: 110px;
}

/* CUADRÍCULA FIJA: El secreto es 'align-items: start' */
.bloque-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 16px;
    margin-top: 20px;
    align-items: start; /* Evita que la tarjeta sola se estire para llenar la fila */
}

.barra-inferior {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    border-top: 1px solid #e2e8f0;
    z-index: 1000;
}



/*--------------------------------------*/
/* --- LAYOUT DE  PAGE DE CATALOGO----*/
/*---------------------------------------*/

.cuerpo-gris {
    background-color: #fcfdfc; /* Fondo general de la app */
    margin: 0;
    font-family: sans-serif;
}

.contenedor_grid {
    padding: 15px;
}

.bloque_productos_doble {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas exactas */
    gap: 12px;
}

.contenedor_principal {
    margin-bottom: 80px; /* Espacio para que no lo tape la barra inferior */
}

/* Ocultamos el cuadro blanco del checkbox */
#checkBusqueda.oculto {
    display: none;
}

/* Estado inicial: Altura cero y escondido */
.contenedor-buscador {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out; /* Animación de bajada */
    background-color: white;
}

/* LA LÓGICA DE ACTIVACIÓN */
/* Cuando el checkbox esté marcado, busca al hermano header y luego al buscador */
#checkBusqueda:checked ~ .barra_superior_catalogo .contenedor-buscador {
    max-height: 80px; /* Altura suficiente para el input de texto */
    padding: 10px 0;
}